.navbar{
    display: flex;
    justify-content: space-between;
    padding: 5px 30px;
    align-items: center;
}
.search input{
    height: 45px;
    width: 450px;
    border: 1px solid lightgray;
    border-radius: 30px;
    padding-left: 15px;
    outline: none;
}
.options button{
    border: 1px solid lightgray;
    background-color: white;
    color: rgb(48, 165, 203);
    padding: 8px 16px;
    font-size: 16px;
    margin: 0px 5px;
    border-radius: 20px;
}